* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.container {

display: grid;
grid-template-columns: 200px 200px 200px;
row-gap: 10px;
column-gap: 20px;


}



.sub-1 {
background-color: lightblue;



}


.sub-2 {
display: flex;
background-color: lightpink;
justify-content: center;

}


.sub-3 {

background-color: lightgreen;


}



